section.about {
  background-image: url(../img/im00.webp), url(../img/im01.webp);
  background-position: left top,right top;
  background-size: 461px, 415px;
  background-repeat: no-repeat, no-repeat;
  z-index: 3;
  overflow: hidden;
  h1 {
    margin-top: 230px;
  }
  .img {
    text-align: center;
    padding: 250px 0 130px;
    background-image: url(../img/im03.webp), url(../img/im04.webp);
    background-position: left 230px top 125px,right 190px bottom -120px ;
    background-size: 175px, 237px;
    background-repeat: no-repeat, no-repeat;
  }

.wrap {
//    z-index: 2;
  }
}
.nowebp {
  section.about {
    background-image: url(../img/im00.png), url(../img/im01.png);
    .img {
      background-image: url(../img/im03.png), url(../img/im04.png);
    }
  }
}