html {
  min-height: 100%;
}
body {
  --cText: #222222;
  min-height: 100vh;
  padding-left: var(--left-side);
  color: var(--cText);
}
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  svg path {
    fill: var(--cText);
  }
  p, h1, form {
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
  }
}
h1  {
  font-weight: 700;
  font-size: 60px;
  line-height: 125%;
  padding: 9px 0 8px;
  margin-bottom: 40px;
}
a {
  color: inherit;
  font-weight: 600;
}

.bDark {
  --cText: #CECECE;
  background: #101011;
  color: var(--cText);
  svg {
    color: var(--cText);
  }
}

.bGray {
  background: #F6F6F6;
}

.btn {
  &.bDark {
    padding: 7px 26px;
    border-radius: 22px;
    display: inline-block;
    &,&:hover,&:focus,&:active,&:visited, svg {
      color: white;
    }
  }
}

input {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #D6D6D6;
}