header {
  position: fixed;
  left: 0;
  top: 0;
  height: 80px;
  width: 100%;
  padding-top: 27px;
  background: white;
  box-shadow: 0 0 2px 2px #0000;
  transition: .3s;
  z-index: 100;
  &.transparent {
    top: -100px;
  }
  &.fixh {
    box-shadow: 0 0 2px 2px #0002;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    column-gap: 52px;
  }
  .drop {
    position: relative;
    height: 30px;
    width: 78px;
    padding: 0 20px;
    menu {
      position: absolute;
      top: 30px;
      left: 0;
      display: none;
      flex-direction: column;
    }
    &.open {
      menu {
        display: flex;
      }
    }
  }
}