section.sec03 {
  h1 {
    margin-top: 230px;
  }
  .knives {
    height: 840px;
    width: 100%;
    position: relative;
    img {
      position: absolute;
      top: 0;
      transition: .1s;
    }
    .leftKnive {
      --left: calc(var(--tran) * 2);
      left: 100px;
      transform:translateX(var(--left));
    }
    .rightKnive {
      --right: calc(var(--tran) * 2 * -1);
      right: 100px;
      transform:translateX(var(--right));
    }
  }
}